.*
!.gitignore
!.gitattributes
!.github
!.vscode
!命令行工具/
!.vs

命令行工具\wpf\62CommandTools\bin\Debug\*
命令行工具\wpf\62CommandTools\bin\Release\*
命令行工具\wpf\62CommandTools\obj\Debug\*
命令行工具\wpf\62CommandTools\obj\Release\*

实验小学六二班（采访） 1.m4v
实验小学六二班（采访） 2.m4v
实验小学六二班（采访）.m4v
实验小学六二班（采访）(1).m4v
实验小学六二班(MV).m4v